{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <section class="content-header">
      <h1>
        Inscription
      </h1>
    </section>

    <form class="form-horizontal form-element" method="POST">
      {% csrf_token %}
      <div class="box-body">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 control-label">Pseudo</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Pseudo" name="username">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" placeholder="Email" name="email">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 control-label">Mot de passe</label>

          <div class="col-sm-10">
            <input type="password" class="form-control"  placeholder="Mot de passe" name="password1" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 control-label">Confirmation du mot de passe</label>

          <div class="col-sm-10">
            <input type="password" class="form-control"  placeholder="Confirmation" name="password2" required>
          </div>
        </div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer" style="background-color: transparent">
        <button type="submit" class="btn btn-info pull-right">S'inscrire</button>
      </div>
      <small class="text-muted" style="padding:5px">
        Déjà inscrit ? <a class="ml-2" href="{% url 'login' %}">Connectez-vous</a>
      </small>
      <!-- /.box-footer -->
    </form>
  </div>
</div>
{% endblock content %}