{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Voir les autres joueurs</h1>

    <div class="row">
      {% for user in userList %}
      <div class="col-3 text-center single-card my-4">
        <img src="{{ '/hearthstone/static/images/merly.png' }}" alt="user">
        <span style="font-size:19px">{{user.username}}</span>
        <div>
            <a href="{% url 'checkPlayerCards' user.id %}">Voir les cartes</a>
        </div>
        <div>
            <a href="{% url 'checkPlayerDecks' user.id %}">Voir les decks</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}