{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Nouveau deck</h1>

    <form method="post">
      {% csrf_token %}
      
      <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" class="form-control col-md-3" id="title">
        <button class="btn btn-outline-primary mt-3" type="submit">Creer un nouveau deck</button>
      </div> 
      <div class="row">
          <select multiple="multiple" class="image-picker show-html" name="cards">
            {% for card in cards %}
            <div class="col-3 text-center single-card my-4">
                <option data-img-src="{{ card.img_url }}" class="img-thumbnail" value="{{ card.id }}">
                  {{ card.card.name }}
                </option>
            </div>
            {% endfor %}
          </select>
      </div>

    </form>
  </div>
</div>
{% endblock content %}