{% extends "hearthstone/base.html" %}

{% block content %}


<div class="row my-5">
  <div class="col-md-12">

    {% if request.user.is_authenticated %}

    <a href="{% url 'game' %}" class="btn btn-primary btn-lg">Jouer</a>

    <h2>Liste des dernières parties</h2>
    <div class="games mb-5">

      {% for game in games %}
      <p class="lead">{{ game.user1.username }} vs. {{ game.user2.username }} <a class="small" href="{% url 'game' %}">Voir le match</a></p>
      {% empty %}
      <p>Aucune partie pour le moment.</p>
      {% endfor %}

    {% else %}

    {% load static %}
  
    <img src="{% static 'images/hs_main.jpg' %}" />

    {% endif %}

    

    </div>
  </div>
</div>

{% endblock content %}