{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h1>Votre collection de cartes</h1> {{ heroes }}

    <div class="row col-md-6 offset-3" >
      
      <input type="text" id="inputSearch" class="form-control" placeholder="Rechercher une carte">
    </div>
    <div class="row">
        <style>

            .img-thumbnail {
              padding: 0 !important;
              border-radius: unset !important;
              border: unset !important;
              background-color: transparent !important;
            }

            .offset-3{
              margin-left: 25%;
            }
        </style>


      {% for card in cards %}

      {{card.card}}
      <div class="col-3 text-center single-card my-4" data-tri="{{ card.card.name }}">
          <img src="{{ card.card.img_url }}" alt="{{ card.card.name }}" class="img-thumbnail" >
      </div>
      {% empty %}
      <div class="col">
        Vous n'avez pas encore de cartes.
      </div>
      {% endfor %}
    </div>
  </div>s
</div>

<script>

  $("#inputSearch").keyup(function(){
        let cardName = $('#inputSearch').val();

        if(cardName.length > 0 && cardName !== "" ){

          $("[data-tri]").each(function(){

              if (($(this).data("tri")).toLowerCase().indexOf(cardName.toLowerCase()) >= 0){
                $(this).show();
              }
              else{
                $(this).hide();
              }
          });

        }
        else{
          $("[data-tri]").show();
        }

    });

</script>

{% endblock content %}
