{% extends "hearthstone/base.html" %}
{% load static %}


{% block content %}
<div class="row my-5">
  <div class="col-md-12" style="margin-top:50px">

    <center>
      <a href="{% url 'deckCreate' %}">
        <img src="{% static 'images/create_deck.png' %}" style="max-width: 200px;"/>
      </a>
    </center>


    <div class="row" style="margin-top: 40px;padding:10px">
      {% for deck in decks %}
      <div class="col-3 text-center my-4">
        <a href="{% url 'deck' deck.id %}">{{deck.title}}</a>
      </div>
      {% empty %}
      <div class="col">
        Vous n'avez pas encore de decks.
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}