{% extends "hearthstone/base.html" %}



{% block content %}
<div class="row my-5" style="padding:30px">
  <div class="col-md-12">
      <style>

          .img-thumbnail {
            padding: 0 !important;
            border-radius: unset !important;
            border: unset !important;
          }

          .selected img{
            background-color: lightgrey !important;
          }
        
        </style>

    <h1>{{ deck.title }}</h1>

    <p>Nombre de cartes <span id="card_number"></span>/30</p>
    <form method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-outline-primary mt-3" value="Enregistrer">
      <hr/>
      <div class="row col-md-6" style="margin: 0 auto;">
      <style>
        .hexagon {
          position: relative;
          width: 50px; 
          height: 28.87px;
          background-color: #3394d0;
          margin: 14.43px 0;
          display: inline-block;
          margin: 0px 3px;
          margin-top:30px;
        }

        .hexagon:before,
        .hexagon:after {
          content: "";
          position: absolute;
          width: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
        }

        .hexagon:before {
          bottom: 100%;
          border-bottom: 14.43px solid #3394d0;
        }

        .hexagon:after {
          top: 100%;
          width: 0;
          border-top: 14.43px solid #3394d0;
        }

        .hexagonClicked {
          position: relative;
          width: 50px; 
          height: 28.87px;
          background-color: #1a6c9b;
          margin: 14.43px 0;
          display: inline-block;
          margin: 0px 3px;
          margin-top:30px;
        }

        .hexagonClicked:before,
        .hexagonClicked:after {
          content: "";
          position: absolute;
          width: 0;
          border-left: 25px solid transparent;
          border-right: 25px solid transparent;
        }

        .hexagonClicked:before {
          bottom: 100%;
          border-bottom: 14.43px solid #1a6c9b;
        }

        .hexagonClicked:after {
          top: 100%;
          width: 0;
          border-top: 14.43px solid #1a6c9b;
        }

        .manaTxt{
          position: absolute;
          color: white;
          left: 18px;
          top: 0px;
          font-size: 20px;
          font-weight: 700;
        }

      
      </style>
      <input type="text" id="inputSearch" class="form-control" placeholder="Rechercher une carte">

    </div>

    <div class="row col-md-10" style="margin: 0 auto;">


        <div class="hexagon hexagonClicked">
          <span class="manaTxt"></span>
        </div>

      {% for i in mana %}

        <div class="hexagon">
          <span class="manaTxt">{{i}}</span>
        </div>
        
        
      {% endfor %}
       
    </div>
      <div class="row">

          {% for card in cards %}

            {% if card.card.id in l %}

              <div class="col-3 text-center single-card my-4 card selected" style="background: transparent;" data-tri="{{ card.card.name }}" data-mana="{{card.cost}}">
                  <img src="{{ card.card.img_url }}" alt="{{ card.card.name }}" class="img-thumbnail" style="background: transparent;">
              </div>
              <input type="checkbox" name="cards[]" value="{{ card.card.id }}" checked>

            {% else %}

              <div class="col-3 text-center single-card my-4 card" style="background: transparent;" data-tri="{{ card.card.name }}" data-mana="{{card.cost}}">
                  <img src="{{ card.card.img_url }}" alt="{{ card.card.name }}" class="img-thumbnail" style="background: transparent;">
              </div>
              <input type="checkbox" name="cards[]" value="{{ card.card.id }}">

            {% endif %}
          
        {% empty %}
       
        <div class="col">
          Vous n'avez pas encore de cartes.
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
  </form>
</div>


<script type="text/javascript">
  $('#card_number').text($('.card.selected').length);
  $('.card').on('click', function () {
    if ($('.card.selected').length >= 30) {
      alert("vous ne pouvez pas avoir plus de 30 cartes dans un deck");
      return;
    }
    if ($(this).hasClass('selected')) {
      $(this).removeClass('selected');
      $(this).next('input').prop('checked', false);
    } else {
      $(this).addClass('selected');
      $(this).next('input').prop('checked', true);
    }
    $('#card_number').text($('.card.selected').length);
  })


  $("#inputSearch").keyup(function(){
    let cardName = $('#inputSearch').val();

    if(cardName.length > 0 && cardName !== "" ){

      $("[data-tri]").each(function(){

          if (($(this).data("tri")).toLowerCase().indexOf(cardName.toLowerCase()) >= 0){
            $(this).show();
          }
          else{
            $(this).hide();
          }
      });

    }
    else{
      $("[data-tri]").show();
    }

  });

  $('.hexagon').on('click', function(){

    var thiis = $(this);
    
    $('.hexagon').each(function(){
      $(this).removeClass('hexagonClicked');
      $(this).addClass('hexagon');
    });

    thiis.addClass('hexagonClicked');

    var valeurMana = thiis.children('span').text();
    
    $("[data-mana]").each(function(){

        if ((($(this).data("mana")).toString() == valeurMana ) && valeurMana != "9+" || valeurMana === ""){
          $(this).show();
        }
        else if(valeurMana == "9+"){
          if (parseInt($(this).data("mana")) >= 9 ){
            $(this).show();
          }
          else{
            $(this).hide();
          }
        }
        else{
          $(this).hide();
        }
    });

  });
</script>

{% endblock content %}
